<!DOCTYPE html>
<html>
    <head>
        <title>About Me</title>
        <style>
            #mainDiv {
                margin-left: auto;
                margin-right: auto;
                width: 100%;
            }



        </style>



    </head>
    <body>
        <div id="mainDiv">
            <p>
                This website was made by Talon Ernst. I am a 20 year old student, currently attenting college where I study Computer Programming, in hopes to become A Software Devleoper or
                Web Developer in the future. This website is a place I will continuously be adding to, with the goal being that I can sharpen my coding skills in C#, HTML, CSS and JS
            </p><br /><br />

            <p>As of writing this, I am a few weeks out from graduating an am currently looking for a full time job in the programming industry.</p> <br /><br />

            <p>There isn't really interesting about me so i'll leave off with a few of my hobbies. I like Music, Video Games, Coding (obviously) and binging TV Shows.</p>
        </div>
    </body>

</html>