@model VideoGameStore.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Game Title
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gameTitle)
        </dd>
        <dt class="col-sm-2">
            Game Description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gameDescription)
        </dd>
        <dt class = "col-sm-2">
            Game Release Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gameReleaseDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.gameGuid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
