
@{
    ViewData["Title"] = "Admin Panel";
}
<h1 style="text-align: center;">Welcome to the Admin Panel</h1>
<h2 style="text-align: center;">Please select what you want to manage</h2>
<div class="btn-group" style="width: 1000px;">
    <a asp-action="AllGames" asp-controller="Administrative" class="btn btn-primary btn-admin" id="btnAdminGames">Manage Games</a>
    <a asp-action="AllGames" asp-controller="Administrative" class="btn btn-primary btn-admin" id="btnAdminGames">Manage Reviews</a>
    <a asp-action="AllGames" asp-controller="Administrative" class="btn btn-primary btn-admin" id="btnAdminGames">Manage Games</a>
</div>
<br />





